.background-page {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 90vh; /* Ocupa toda la altura visible del viewport */
    background: linear-gradient(to left, rgba(250, 248, 81, 0.3), rgba(245, 239, 73, 0.3), rgba(252, 245, 160, 0.3));
  }

.container {
  max-width: 800px;
  padding: 20px;
  background: linear-gradient(to left, #faf851, #f5ef49, #fcf5a0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color:  #be1704;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #f7a40c;
}

.custom-select {
  border-radius: 5px;
  border: none;
  transition: border-color 0.3s;
  height: 30px;
}

.custom-select:focus {
  border-color: #9c9c9c;
  outline: none;
}
