.background-page {
  display: flex;
  flex-direction: column;

  height: 90vh; /* Ocupa toda la altura visible del viewport */
  background: linear-gradient(
    to left,
    rgba(250, 248, 81, 0.3),
    rgba(245, 239, 73, 0.3),
    rgba(252, 245, 160, 0.3)
  );
}
#containerwelcome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
#containerLema {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#containerButton {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  #containerwelcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 300px;
  }
}
